# reading files

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv(r"countries.csv")
df

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [6]:
pd.set_option('display.max.rows',200)
pd.set_option('display.max.columns', 50)

In [7]:
df.info

<bound method DataFrame.info of              Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]>

In [8]:
df.shape

(227, 2)

In [9]:
df.head(10)

              Country                               Region
0        Afghanistan         ASIA (EX. NEAR EAST)
1            Albania   EASTERN EUROPE
2            Algeria   NORTHERN AFRICA
3     American Samoa   OCEANIA
4            Andorra   WESTERN EUROPE
5             Angola   SUB-SAHARAN AFRICA
6           Anguilla               LATIN AMER. & CARIB
7  Antigua & Barbuda               LATIN AMER. & CARIB
8          Argentina               LATIN AMER. & CARIB
9            Armenia                  C.W. OF IND. STATES

In [10]:
df.tail(10)

                Country                               Region
217            Vanuatu   OCEANIA
218          Venezuela               LATIN AMER. & CARIB
219            Vietnam         ASIA (EX. NEAR EAST)
220     Virgin Islands               LATIN AMER. & CARIB
221  Wallis and Futuna   OCEANIA
222          West Bank   NEAR EAST
223     Western Sahara   NORTHERN AFRICA
224              Yemen   NEAR EAST
225             Zambia   SUB-SAHARAN AFRICA
226           Zimbabwe   SUB-SAHARAN AFRICA

In [15]:
df = pd.read_csv('world_population.csv')
df.head(5)

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00

In [17]:
df.loc[0]

Rank                                    36
CCA3                                   AFG
Country                        Afghanistan
Capital                              Kabul
Continent                             Asia
2022 Population                 41128771.0
2020 Population                 38972230.0
2015 Population                 33753499.0
2010 Population                 28189672.0
2000 Population                 19542982.0
1990 Population                 10694796.0
1980 Population                 12486631.0
1970 Population                 10752971.0
Area (kmÂ²)                        652230.0
Density (per kmÂ²)                  63.0587
Growth Rate                         1.0257
World Population Percentage           0.52
Name: 0, dtype: object

In [22]:
df1 = df.set_index('Country')
df1.head(5)

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
Afghanistan,36,AFG,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
Albania,138,ALB,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
Algeria,34,DZA,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
American Samoa,213,ASM,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
Andorra,203,AND,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00

In [24]:
df1.loc['Afghanistan']

Rank                                   36
CCA3                                  AFG
Capital                             Kabul
Continent                            Asia
2022 Population                41128771.0
2020 Population                38972230.0
2015 Population                33753499.0
2010 Population                28189672.0
2000 Population                19542982.0
1990 Population                10694796.0
1980 Population                12486631.0
1970 Population                10752971.0
Area (kmÂ²)                       652230.0
Density (per kmÂ²)                 63.0587
Growth Rate                        1.0257
World Population Percentage          0.52
Name: Afghanistan, dtype: object

In [25]:
# iloc is used to access the rows using numeric index. Integer-based.
# when we changed the index to country column, still if we want to access rows using numeric index then use iloc.
# loc is used to select using labels of rows and columns. 
df1.iloc[0]

Rank                                   36
CCA3                                  AFG
Capital                             Kabul
Continent                            Asia
2022 Population                41128771.0
2020 Population                38972230.0
2015 Population                33753499.0
2010 Population                28189672.0
2000 Population                19542982.0
1990 Population                10694796.0
1980 Population                12486631.0
1970 Population                10752971.0
Area (kmÂ²)                       652230.0
Density (per kmÂ²)                 63.0587
Growth Rate                        1.0257
World Population Percentage          0.52
Name: Afghanistan, dtype: object

# filtering and ordering

In [26]:
df[df['Rank'] <= 10]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
16,8,BGD,Bangladesh,Dhaka,Asia,1.711864e+08,1.674210e+08,1.578300e+08,1.483911e+08,1.291933e+08,1.071477e+08,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15
27,7,BRA,Brazil,Brasilia,South America,2.153135e+08,2.131963e+08,2.051882e+08,1.963535e+08,1.758737e+08,1.507064e+08,122288383.0,96369875.0,8515767.0,25.2841,1.0046,2.70
41,1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77
93,4,IDN,Indonesia,Jakarta,Asia,2.755013e+08,2.718580e+08,2.590920e+08,2.440162e+08,2.140724e+08,1.821599e+08,148177096.0,115228394.0,1904569.0,144.6529,1.0064,3.45
131,10,MEX,Mexico,Mexico City,North America,1.275041e+08,1.259983e+08,1.201499e+08,1.125324e+08,9.787344e+07,8.172043e+07,67705186.0,50289306.0,1964375.0,64.9082,1.0063,1.60
149,6,NGA,Nigeria,Abuja,Africa,2.185412e+08,2.083274e+08,1.839958e+08,1.609529e+08,1.228520e+08,9.521426e+07,72951439.0,55569264.0,923768.0,236.5759,1.0241,2.74
156,5,PAK,Pakistan,Islamabad,Asia,2.358249e+08,2.271967e+08,2.109693e+08,1.944545e+08,1.543699e+08,1.154141e+08,80624057.0,59290872.0,881912.0,267.4018,1.0191,2.96
171,9,RUS,Russia,Moscow,Europe,1.447133e+08,1.456173e+08,1.446684e+08,1.432426e+08,1.468448e+08,1.480057e+08,138257420.0,130093010.0,17098242.0,8.4636,0.9973,1.81
221,3,USA,United States,"Washington, D.C.",North America,3.382899e+08,3.359420e+08,3.246078e+08,3.111828e+08,2.823986e+08,2.480837e+08,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24

In [27]:
# sql: in condition 
specific_countries = ['Bangladesh', 'Pakistan' ]
df[df['Country'].isin(specific_countries)]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
16,8,BGD,Bangladesh,Dhaka,Asia,171186372.0,167420951.0,157830000.0,148391139.0,129193327.0,107147651.0,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15
156,5,PAK,Pakistan,Islamabad,Asia,235824862.0,227196741.0,210969298.0,194454498.0,154369924.0,115414069.0,80624057.0,59290872.0,881912.0,267.4018,1.0191,2.96

In [32]:
# sql: like condition ( country like ('%United%'))
df[df['Country'].str.contains('United')]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
219,97,ARE,United Arab Emirates,Abu Dhabi,Asia,9441129.0,9287289.0,8916899.0,8481771.0,3275333.0,1900151.0,1014048.0,298084.0,83600.0,112.9322,1.0081,0.12
220,21,GBR,United Kingdom,London,Europe,67508936.0,67059474.0,65224364.0,62760039.0,58850043.0,57210442.0,56326328.0,55650166.0,242900.0,277.9289,1.0034,0.85
221,3,USA,United States,"Washington, D.C.",North America,338289857.0,335942003.0,324607776.0,311182845.0,282398554.0,248083732.0,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24
222,200,VIR,United States Virgin Islands,Charlotte Amalie,North America,99465.0,100442.0,102803.0,106142.0,108185.0,100685.0,96640.0,63446.0,347.0,286.6427,0.9937,0.00

In [34]:
df1 = df.set_index('Country')
df1.head(2)

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
Afghanistan,36,AFG,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
Albania,138,ALB,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04

In [37]:
# df1[['Continent','CCA3']]
# another alternative way is to use filter. filter() is used to filter based on index labels (row names) or column names, not on values.\
df1.filter(items=['Continent','CCA3'], axis = 1)

                  Continent CCA3
Country
Afghanistan            Asia  AFG
Albania              Europe  ALB
Algeria              Africa  DZA
American Samoa      Oceania  ASM
Andorra              Europe  AND
...                     ...  ...
Wallis and Futuna   Oceania  WLF
Western Sahara       Africa  ESH
Yemen                  Asia  YEM
Zambia               Africa  ZMB
Zimbabwe             Africa  ZWE

[234 rows x 2 columns]

In [43]:
# df1.loc[['Afghanistan','Albania']]
# another alternative to loc for selecting label based index rows is we can use filter with axis = 0
df1.filter(items=['Afghanistan','Albania'], axis = 0)

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
Afghanistan,36,AFG,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
Albania,138,ALB,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04

In [44]:
# we can also use like similar to like opeartor in sql. this will select all rows that matches 'United' index 
df1.filter(like = 'United', axis = 0)

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
United Arab Emirates,97,ARE,Abu Dhabi,Asia,9441129.0,9287289.0,8916899.0,8481771.0,3275333.0,1900151.0,1014048.0,298084.0,83600.0,112.9322,1.0081,0.12
United Kingdom,21,GBR,London,Europe,67508936.0,67059474.0,65224364.0,62760039.0,58850043.0,57210442.0,56326328.0,55650166.0,242900.0,277.9289,1.0034,0.85
United States,3,USA,"Washington, D.C.",North America,338289857.0,335942003.0,324607776.0,311182845.0,282398554.0,248083732.0,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24
United States Virgin Islands,200,VIR,Charlotte Amalie,North America,99465.0,100442.0,102803.0,106142.0,108185.0,100685.0,96640.0,63446.0,347.0,286.6427,0.9937,0.00

In [45]:
# sorting
df1.sort_values(by=['Continent','Country'])

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
Algeria,34,DZA,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
Angola,42,AGO,Luanda,Africa,35588987.0,33428485.0,28127721.0,23364185.0,16394062.0,11828638.0,8330047.0,6029700.0,1246700.0,28.5466,1.0315,0.45
Benin,77,BEN,Porto-Novo,Africa,13352864.0,12643123.0,10932783.0,9445710.0,6998023.0,5133419.0,3833939.0,3023443.0,112622.0,118.5635,1.0274,0.17
Botswana,144,BWA,Gaborone,Africa,2630296.0,2546402.0,2305171.0,2091664.0,1726985.0,1341474.0,938578.0,592244.0,582000.0,4.5194,1.0162,0.03
Burkina Faso,58,BFA,Ouagadougou,Africa,22673762.0,21522626.0,18718019.0,16116845.0,11882888.0,9131361.0,6932967.0,5611666.0,272967.0,83.0641,1.0259,0.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Paraguay,109,PRY,AsunciÃ³n,South America,6780744.0,6618695.0,6177950.0,5768613.0,5123819.0,4059195.0,3078912.0,2408787.0,406752.0,16.6705,1.0115,0.09
Peru,44,PER,Lima,South America,34049588.0,33304756.0,30711863.0,29229572.0,26654439.0,22109099.0,17492406.0,13562371.0,1285216.0,26.4933,1.0099,0.43
Suriname,170,SUR,Paramaribo,South America,618040.0,607065.0,575475.0,546080.0,478998.0,412756.0,375112.0,379918.0,163820.0,3.7727,1.0082,0.01
Uruguay,133,URY,Montevideo,South America,3422794.0,3429086.0,3402818.0,3352651.0,3292224.0,3117012.0,2953750.0,2790265.0,181034.0,18.9069,0.9990,0.04
Venezuela,51,VEN,Caracas,South America,28301696.0,28490453.0,30529716.0,28715022.0,NaN,19750579.0,15210443.0,11355475.0,NaN,30.8820,1.0036,0.35

# indexing

In [48]:
# multi indexing
df1 = df.set_index(['Continent','Country'])
df1.head(10)

                                   Rank CCA3           Capital  \
Continent     Country
Asia          Afghanistan            36  AFG             Kabul
Europe        Albania               138  ALB            Tirana
Africa        Algeria                34  DZA           Algiers
Oceania       American Samoa        213  ASM         Pago Pago
Europe        Andorra               203  AND  Andorra la Vella
Africa        Angola                 42  AGO            Luanda
North America Anguilla              224  AIA        The Valley
              Antigua and Barbuda   201  ATG      Saint Johnâ€™s
South America Argentina              33  ARG      Buenos Aires
Asia          Armenia               140  ARM           Yerevan

                                   2022 Population  2020 Population  \
Continent     Country
Asia          Afghanistan               41128771.0       38972230.0
Europe        Albania                    2842321.0        2866849.0
Africa        Algeria                   44903225.0       43451666.0
Oceania       American Samoa               44273.0          46189.0
Europe        Andorra                      79824.0          77700.0
Africa        Angola                    35588987.0       33428485.0
North America Anguilla                     15857.0          15585.0
              Antigua and Barbuda          93763.0          92664.0
South America Argentina                 45510318.0       45036032.0
Asia          Armenia                    2780469.0        2805608.0

                                   2015 Population  2010 Population  \
Continent     Country
Asia          Afghanistan               33753499.0       28189672.0
Europe        Albania                    2882481.0        2913399.0
Africa        Algeria                   39543154.0       35856344.0
Oceania       American Samoa               51368.0          54849.0
Europe        Andorra                      71746.0          71519.0
Africa        Angola                    28127721.0       23364185.0
North America Anguilla                     14525.0          13172.0
              Antigua and Barbuda          89941.0          85695.0
South America Argentina                 43257065.0       41100123.0
Asia          Armenia                    2878595.0        2946293.0

                                   2000 Population  1990 Population  \
Continent     Country
Asia          Afghanistan               19542982.0       10694796.0
Europe        Albania                    3182021.0        3295066.0
Africa        Algeria                   30774621.0       25518074.0
Oceania       American Samoa               58230.0          47818.0
Europe        Andorra                      66097.0          53569.0
Africa        Angola                    16394062.0       11828638.0
North America Anguilla                     11047.0           8316.0
              Antigua and Barbuda          75055.0          63328.0
South America Argentina                 37070774.0       32637657.0
Asia          Armenia                    3168523.0        3556539.0

                                   1980 Population  1970 Population  \
Continent     Country
Asia          Afghanistan               12486631.0       10752971.0
Europe        Albania                    2941651.0        2324731.0
Africa        Algeria                   18739378.0       13795915.0
Oceania       American Samoa               32886.0          27075.0
Europe        Andorra                      35611.0          19860.0
Africa        Angola                     8330047.0        6029700.0
North America Anguilla                      6560.0           6283.0
              Antigua and Barbuda          64888.0          64516.0
South America Argentina                 28024803.0       23842803.0
Asia          Armenia                    3135123.0        2534377.0

                                   Area (kmÂ²)  Density (per kmÂ²)  Growth Rate  \
Continent     Country
Asia          Afghanistan            652230.0            63.0587       1.0257
Europe        Albania                 28748.0            98.8702       0.9957
Africa        Algeria               2381741.0            18.8531       1.0164
Oceania       American Samoa            199.0           222.4774       0.9831
Europe        Andorra                   468.0           170.5641       1.0100
Africa        Angola                1246700.0            28.5466       1.0315
North America Anguilla                   91.0           174.2527       1.0066
              Antigua and Barbuda       442.0           212.1335       1.0058
South America Argentina             2780400.0            16.3683       1.0052
Asia          Armenia                 29743.0            93.4831       0.9962

                                   World Population Percentage
Continent     Country
Asia          Afghanistan                                 0.52
Europe        Albania                                     0.04
Africa        Algeria                                     0.56
Oceania       American Samoa                              0.00
Europe        Andorra                                     0.00
Africa        Angola                                      0.45
North America Anguilla                                    0.00
              Antigua and Barbuda                         0.00
South America Argentina                                   0.57
Asia          Armenia                                     0.03

In [55]:
# sorting indexes
df1.sort_index(ascending=[True,False])

                              Rank CCA3       Capital  2022 Population  \
Continent     Country
Africa        Zimbabwe          74  ZWE        Harare       16320537.0
              Zambia            63  ZMB        Lusaka       20017675.0
              Western Sahara   172  ESH      El AaiÃºn         575986.0
              Uganda            31  UGA       Kampala       47249585.0
              Tunisia           79  TUN         Tunis       12356117.0
...                            ...  ...           ...              ...
South America Colombia          28  COL        Bogota       51874024.0
              Chile             65  CHL      Santiago       19603733.0
              Brazil             7  BRA      Brasilia      215313498.0
              Bolivia           80  BOL         Sucre       12224110.0
              Argentina         33  ARG  Buenos Aires       45510318.0

                              2020 Population  2015 Population  \
Continent     Country
Africa        Zimbabwe             15669666.0       14154937.0
              Zambia               18927715.0              NaN
              Western Sahara         556048.0         491824.0
              Uganda               44404611.0       37477356.0
              Tunisia              12161723.0       11557779.0
...                                       ...              ...
South America Colombia             50930662.0       47119728.0
              Chile                19300315.0       17870124.0
              Brazil              213196304.0      205188205.0
              Bolivia              11936162.0       11090085.0
              Argentina            45036032.0       43257065.0

                              2010 Population  2000 Population  \
Continent     Country
Africa        Zimbabwe             12839771.0       11834676.0
              Zambia               13792086.0        9891136.0
              Western Sahara         413296.0         270375.0
              Uganda               32341728.0       24020697.0
              Tunisia              10895063.0        9893316.0
...                                       ...              ...
South America Colombia                    NaN       39215135.0
              Chile                17004162.0       15351799.0
              Brazil              196353492.0      175873720.0
              Bolivia              10223270.0        8592656.0
              Argentina            41100123.0       37070774.0

                              1990 Population  1980 Population  \
Continent     Country
Africa        Zimbabwe             10113893.0        7049926.0
              Zambia                7686401.0        5720438.0
              Western Sahara         178529.0         116775.0
              Uganda               17586630.0       13284026.0
              Tunisia               8440023.0        6578156.0
...                                       ...              ...
South America Colombia             32601393.0       26176195.0
              Chile                13342868.0       11469828.0
              Brazil              150706446.0      122288383.0
              Bolivia               7096194.0        5736088.0
              Argentina            32637657.0       28024803.0

                              1970 Population  Area (kmÂ²)  Density (per kmÂ²)  \
Continent     Country
Africa        Zimbabwe              5202918.0    390757.0            41.7665
              Zambia                4281671.0    752612.0            26.5976
              Western Sahara          76371.0    266000.0             2.1654
              Uganda               10317212.0    241550.0           195.6100
              Tunisia               5047404.0    163610.0            75.5218
...                                       ...         ...                ...
South America Colombia             20905254.0   1141748.0            45.4339
              Chile                 9820481.0    756102.0            25.9274
              Brazil               96369875.0   8515767.0            25.2841
              Bolivia               4585693.0   1098581.0            11.1272
              Argentina            23842803.0   2780400.0            16.3683

                              Growth Rate  World Population Percentage
Continent     Country
Africa        Zimbabwe             1.0204                         0.20
              Zambia               1.0280                         0.25
              Western Sahara       1.0184                         0.01
              Uganda               1.0304                         0.59
              Tunisia              1.0076                         0.15
...                                   ...                          ...
South America Colombia             1.0069                         0.65
              Chile                1.0057                         0.25
              Brazil               1.0046                         2.70
              Bolivia              1.0120                         0.15
              Argentina            1.0052                         0.57

[234 rows x 15 columns]

In [56]:
df1.loc['Africa','Zimbabwe']

Rank                                   74
CCA3                                  ZWE
Capital                            Harare
2022 Population                16320537.0
2020 Population                15669666.0
2015 Population                14154937.0
2010 Population                12839771.0
2000 Population                11834676.0
1990 Population                10113893.0
1980 Population                 7049926.0
1970 Population                 5202918.0
Area (kmÂ²)                       390757.0
Density (per kmÂ²)                 41.7665
Growth Rate                        1.0204
World Population Percentage           0.2
Name: (Africa, Zimbabwe), dtype: object

# group by and aggregating